%header.navigation{:role => "banner"}
  .navigation-wrapper
    %a.logo{:href => "javascript:void(0)"}
      = image_tag "logo-icon-32.png"
    %a#js-mobile-menu.navigation-menu-button{:href => "javascript:void(0)"} MENU
    %nav{:role => "navigation"}
      %ul#js-navigation-menu.navigation-menu.show
        %li.nav-link
